/* Import all necessary stylesheets */
@import url('roboto.css');
@import url('materialize.min.css');
@import url('material-icons.css');
@import url('bouncy-arrow.css');

/* Basic Materialize Settings */
html{
	background-color: #FCFCFC;
  }
  body{
	font-family: 'Roboto', sans-serif;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
  }
  nav{
	background-color: #6666FF;
  }
  nav .brand-logo{
	color: #CDDC39;
  }
  main{
	flex: 1 0 auto;
  }
  .page-footer{
	padding-top: 0px;
	color: #FFFFFF;
	background-color: #6666FF;
  }
  .page-footer .footer-copyright{
	padding-top: 0px;
	color: #FFFFFF;
	background-color: #6666FF;
  }

  /* Custom Settings */
  #fade-wrapper {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.8);
}
.center-cropped {
	width: 100%;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	overflow: hidden;
  }